# AMD Ryzen Threadripper 3970X 32-Core Processor

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor"]

### Eigendecomposition of a 2048x2048 matrix

In [3]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
15             openblas  5.186660
39            mkl2024.0  4.456588
1   mkl2020.1_fakeintel  4.094980
31            mkl2020.0  4.077717
7       mkl2019.5_debug  4.070882
23      mkl2020.0_debug  4.035290

### Dotted two 4096x4096 matrices

In [4]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
17             openblas  1.264006
25      mkl2020.0_debug  1.161426
33            mkl2020.0  1.150133
2   mkl2020.1_fakeintel  1.144328
41            mkl2024.0  1.143740
9       mkl2019.5_debug  1.142645

### Dotted two vectors of length 524288

In [5]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
27      mkl2020.0_debug  0.000045
35            mkl2020.0  0.000045
43            mkl2024.0  0.000045
11      mkl2019.5_debug  0.000045
3   mkl2020.1_fakeintel  0.000045
19             openblas  0.000044

### SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
13             openblas  0.963329
37            mkl2024.0  0.708607
29            mkl2020.0  0.708379
0   mkl2020.1_fakeintel  0.707511
5       mkl2019.5_debug  0.706805
21      mkl2020.0_debug  0.705017