# AMD EPYC 7763 64-Core Processor

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD EPYC 7763 64-Core Processor"]

### Dotted two 4096x4096 matrices

In [3]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
40        mkl2024.0  3.254253
24  mkl2020.0_debug  3.249269
32        mkl2020.0  3.217958
16         openblas  3.177852
8   mkl2019.5_debug  3.061647

### Dotted two vectors of length 524288

In [4]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
26  mkl2020.0_debug  0.002293
18         openblas  0.000174
10  mkl2019.5_debug  0.000152
42        mkl2024.0  0.000150
34        mkl2020.0  0.000144

### SVD of a 2048x1024 matrix

In [5]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
12         openblas  1.617803
36        mkl2024.0  1.400305
28        mkl2020.0  1.369105
20  mkl2020.0_debug  1.324003
4   mkl2019.5_debug  1.252938

### Eigendecomposition of a 2048x2048 matrix

In [6]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
30        mkl2020.0  8.072297
14         openblas  7.824031
38        mkl2024.0  7.541875
22  mkl2020.0_debug  6.220846
6   mkl2019.5_debug  5.993702