# AMD Ryzen Threadripper 3970X 32-Core Processor

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor"]

### Dotted two 4096x4096 matrices

In [3]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
25             openblas  1.267154
5             mkl2020.0  1.164649
15            mkl2024.0  1.152925
55      mkl2020.0_debug  1.150469
45      mkl2019.5_debug  1.149742
35  mkl2020.1_fakeintel  1.142001

### Dotted two vectors of length 524288

In [4]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
21             openblas  0.000279
11            mkl2024.0  0.000276
1             mkl2020.0  0.000275
51      mkl2020.0_debug  0.000272
31  mkl2020.1_fakeintel  0.000271
41      mkl2019.5_debug  0.000267

### SVD of a 2048x1024 matrix

In [5]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
23             openblas  0.971306
33  mkl2020.1_fakeintel  0.715189
53      mkl2020.0_debug  0.714772
43      mkl2019.5_debug  0.713602
3             mkl2020.0  0.713489
13            mkl2024.0  0.713080

### Eigendecomposition of a 2048x2048 matrix

In [6]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
29             openblas  5.407953
19            mkl2024.0  4.542563
49      mkl2019.5_debug  4.288708
9             mkl2020.0  4.268820
59      mkl2020.0_debug  4.262851
39  mkl2020.1_fakeintel  4.192879

### Convex programming (logistic regression)

In [7]:
df_task = df[df["task_id"] == "cvxprog"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
37  mkl2020.1_fakeintel  3.861465
47      mkl2019.5_debug  3.754246
27             openblas  3.658103
17            mkl2024.0  3.629287
7             mkl2020.0  3.606710
57      mkl2020.0_debug  3.557763