# AMD EPYC 7763 64-Core Processor

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD EPYC 7763 64-Core Processor"]

## Highscore

In [3]:
configs = df["config_id"].unique()
scores = {config_id: list() for config_id in configs}
for task_id in df["task_id"].unique():
    df_task = df[df["task_id"] == task_id]
    for config_id in configs:
        config_seconds = df_task[df_task["config_id"] == config_id]["seconds"].min()
        ref_seconds = df_task["seconds"].max()
        max_speedup = ref_seconds / config_seconds
        scores[config_id].append(max_speedup)
mean_scores = {config_id: np.prod(scores[config_id]) / len(scores[config_id])}
mean_scores = [pow(np.prod(scores[config_id]), 1 / len(scores[config_id])) for config_id in configs]
df_scores = pd.DataFrame.from_dict(dict(config_id=configs, score=mean_scores))
df_scores.sort_values("score", ascending=False).reset_index(drop=True)

             config_id     score
0  mkl2020.1_fakeintel  1.162408
1      mkl2019.5_debug  1.160330
2      mkl2020.0_debug  1.159550
3            mkl2024.0  1.058759
4            mkl2020.0  1.047283
5             openblas  1.009635

## Benchmark details

### Task 1: Dotted two 4096x4096 matrices

In [4]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
46            mkl2020.0  3.181888
56            mkl2024.0  3.179767
26             openblas  3.178720
36      mkl2020.0_debug  3.085924
16      mkl2019.5_debug  3.060314
6   mkl2020.1_fakeintel  3.048538

### Task 2: Dotted two vectors of length 524288

In [5]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
28             openblas  0.000301
58            mkl2024.0  0.000280
48            mkl2020.0  0.000277
18      mkl2019.5_debug  0.000271
8   mkl2020.1_fakeintel  0.000270
38      mkl2020.0_debug  0.000270

### Task 3: SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
20             openblas  1.570393
50            mkl2024.0  1.377880
40            mkl2020.0  1.359779
10      mkl2019.5_debug  1.210544
0   mkl2020.1_fakeintel  1.203953
30      mkl2020.0_debug  1.202698

### Task 4: Eigendecomposition of a 2048x2048 matrix

In [7]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
42            mkl2020.0  8.009610
22             openblas  7.642267
52            mkl2024.0  7.449068
12      mkl2019.5_debug  5.734832
32      mkl2020.0_debug  5.729027
2   mkl2020.1_fakeintel  5.722131

### Task 5: Convex programming (logistic regression)

In [8]:
df_task = df[df["task_id"] == "cvxprog"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
24             openblas  3.762647
34      mkl2020.0_debug  3.762130
4   mkl2020.1_fakeintel  3.757096
44            mkl2020.0  3.743234
14      mkl2019.5_debug  3.737027
54            mkl2024.0  3.723070