# AMD EPYC 7763 64-Core Processor.json

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD EPYC 7763 64-Core Processor.json"]

### Dotted two 4096x4096 matrices

In [3]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
20        mkl2019.5  3.570648
12        mkl2024.0  3.405617
4         mkl2020.0  3.382421
28  mkl2020.0_debug  3.249269

### Dotted two vectors of length 524288

In [4]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
24  mkl2020.0_debug  0.002293
8         mkl2024.0  0.002003
0         mkl2020.0  0.001994
16        mkl2019.5  0.001885

### Eigendecomposition of a 2048x2048 matrix

In [5]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
6         mkl2020.0  8.644181
22        mkl2019.5  8.504202
14        mkl2024.0  7.779402
30  mkl2020.0_debug  6.220846

### SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
2         mkl2020.0  1.468643
18        mkl2019.5  1.424053
10        mkl2024.0  1.423912
26  mkl2020.0_debug  1.324003