# AMD Ryzen Threadripper 3970X 32-Core Processor

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor"]

### Dotted two 4096x4096 matrices

In [3]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
17             openblas  1.259116
9       mkl2019.5_debug  1.151569
41            mkl2024.0  1.147282
2   mkl2020.1_fakeintel  1.142910
25      mkl2020.0_debug  1.142890
33            mkl2020.0  1.140160

### Dotted two vectors of length 524288

In [4]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
43            mkl2024.0  0.000271
35            mkl2020.0  0.000268
27      mkl2020.0_debug  0.000259
11      mkl2019.5_debug  0.000259
3   mkl2020.1_fakeintel  0.000258
19             openblas  0.000044

### SVD of a 2048x1024 matrix

In [5]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
13             openblas  0.963329
21      mkl2020.0_debug  0.715137
37            mkl2024.0  0.714786
29            mkl2020.0  0.713456
5       mkl2019.5_debug  0.709741
0   mkl2020.1_fakeintel  0.708210

### Eigendecomposition of a 2048x2048 matrix

In [6]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
15             openblas  5.364186
39            mkl2024.0  4.519601
23      mkl2020.0_debug  4.346016
31            mkl2020.0  4.253780
7       mkl2019.5_debug  4.084280
1   mkl2020.1_fakeintel  4.081695