# AMD Ryzen Threadripper 3970X 32-Core Processor.json

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor.json"]

### Eigendecomposition of a 2048x2048 matrix

In [3]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
19        mkl2020.0  5.397212
5          openblas  5.305424
27        mkl2024.0  5.219242
11  mkl2020.0_debug  4.529334
1   mkl2019.5_debug  4.509339

### Dotted two 4096x4096 matrices

In [4]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
21        mkl2020.0  1.326379
29        mkl2024.0  1.314940
6          openblas  1.265192
13  mkl2020.0_debug  1.153249
2   mkl2019.5_debug  1.151082

### Dotted two vectors of length 524288

In [5]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
31        mkl2024.0  0.000049
23        mkl2020.0  0.000049
15  mkl2020.0_debug  0.000045
3   mkl2019.5_debug  0.000045
7          openblas  0.000044

### SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
4          openblas  0.963404
17        mkl2020.0  0.782890
25        mkl2024.0  0.779294
9   mkl2020.0_debug  0.711939
0   mkl2019.5_debug  0.709896