# AMD Ryzen Threadripper 3970X 32-Core Processor.json

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor.json"]

### Dotted two 4096x4096 matrices

In [3]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
13        mkl2024.0  0.372756
21        mkl2019.5  0.343004
29  mkl2020.0_debug  0.305081
5         mkl2020.0  0.285459

### Dotted two vectors of length 524288

In [4]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
9         mkl2024.0  0.016694
25  mkl2020.0_debug  0.013252
17        mkl2019.5  0.010353
1         mkl2020.0  0.008880

### Eigendecomposition of a 2048x2048 matrix

In [5]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
15        mkl2024.0  5.441352
7         mkl2020.0  4.331648
31  mkl2020.0_debug  4.327143
23        mkl2019.5  4.253336

### SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

          config_id   seconds
11        mkl2024.0  0.571029
19        mkl2019.5  0.451371
27  mkl2020.0_debug  0.438924
3         mkl2020.0  0.427035