# AMD Ryzen Threadripper 3970X 32-Core Processor

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor"]

## Highscore

The *score* of a configuration is the *geometric mean* of the best possible speed-up in comparison to the other configurations.

In [3]:
configs = df["config_id"].unique()
scores = {config_id: list() for config_id in configs}
for task_id in df["task_id"].unique():
    df_task = df[df["task_id"] == task_id]
    for config_id in configs:
        config_seconds = df_task[df_task["config_id"] == config_id]["seconds"].min()
        ref_seconds = df_task["seconds"].max()
        max_speedup = ref_seconds / config_seconds
        scores[config_id].append(max_speedup)
mean_scores = {config_id: np.prod(scores[config_id]) / len(scores[config_id])}
mean_scores = [pow(np.prod(scores[config_id]), 1 / len(scores[config_id])) for config_id in configs]
df_scores = pd.DataFrame.from_dict(dict(config_id=configs, score=mean_scores))
df_scores.sort_values("score", ascending=False).reset_index(drop=True)

             config_id     score
0      mkl2020.0_debug  1.162179
1            mkl2020.0  1.153294
2      mkl2019.5_debug  1.152848
3  mkl2020.1_fakeintel  1.149275
4            mkl2024.0  1.139014
5             openblas  1.010879

## Benchmark details

### Task 1: Dotted two 4096x4096 matrices

In [4]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
27             openblas  1.267154
47            mkl2020.0  1.164649
57            mkl2024.0  1.152925
37      mkl2020.0_debug  1.150469
17      mkl2019.5_debug  1.149742
7   mkl2020.1_fakeintel  1.142001

### Task 2: Dotted two vectors of length 524288

In [5]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
29             openblas  0.000279
59            mkl2024.0  0.000276
49            mkl2020.0  0.000275
39      mkl2020.0_debug  0.000272
9   mkl2020.1_fakeintel  0.000271
19      mkl2019.5_debug  0.000267

### Task 3: SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
21             openblas  0.971306
1   mkl2020.1_fakeintel  0.715189
31      mkl2020.0_debug  0.714772
11      mkl2019.5_debug  0.713602
41            mkl2020.0  0.713489
51            mkl2024.0  0.713080

### Task 4: Eigendecomposition of a 2048x2048 matrix

In [7]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
23             openblas  5.407953
53            mkl2024.0  4.542563
13      mkl2019.5_debug  4.288708
43            mkl2020.0  4.268820
33      mkl2020.0_debug  4.262851
3   mkl2020.1_fakeintel  4.192879

### Task 5: Convex programming (logistic regression)

In [8]:
df_task = df[df["task_id"] == "cvxprog"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
5   mkl2020.1_fakeintel  3.861465
15      mkl2019.5_debug  3.754246
25             openblas  3.658103
55            mkl2024.0  3.629287
45            mkl2020.0  3.606710
35      mkl2020.0_debug  3.557763