# AMD EPYC 7763 64-Core Processor

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD EPYC 7763 64-Core Processor"]

### Dotted two 4096x4096 matrices

In [3]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
18             openblas  3.257511
38            mkl2024.0  3.248082
30            mkl2020.0  3.157948
5   mkl2020.1_fakeintel  3.071597
24      mkl2020.0_debug  3.053819
12      mkl2019.5_debug  3.048440

### Dotted two vectors of length 524288

In [4]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
40            mkl2024.0  0.000268
7   mkl2020.1_fakeintel  0.000264

### SVD of a 2048x1024 matrix

In [5]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
33            mkl2024.0  1.667590
0   mkl2020.1_fakeintel  1.204112

### Eigendecomposition of a 2048x2048 matrix

In [6]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
35            mkl2024.0  7.457182
2   mkl2020.1_fakeintel  5.702863

### Convex programming (logistic regression)

In [7]:
df_task = df[df["task_id"] == "cvxprog"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

Empty DataFrame
Columns: [config_id, seconds]
Index: []