# AMD Ryzen Threadripper 3970X 32-Core Processor

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("results.csv")
df = df[df["cpu_name"] == "AMD Ryzen Threadripper 3970X 32-Core Processor"]
df = df[df["profile_id"] == "py38_16threads"]

**Profile:**
```json
{"python": 3.8, "threads": 16, "id": "py38_16threads"}
```

## Highscore

The *score* of a configuration is the *geometric mean* of the best possible speed-up in comparison to the other configurations.

In [3]:
configs = df["config_id"].unique()
scores = {config_id: list() for config_id in configs}
for task_id in df["task_id"].unique():
    df_task = df[df["task_id"] == task_id]
    for config_id in configs:
        config_seconds = df_task[df_task["config_id"] == config_id]["seconds"].min()
        ref_seconds = df_task["seconds"].max()
        max_speedup = ref_seconds / config_seconds
        scores[config_id].append(max_speedup)
mean_scores = [pow(np.prod(scores[config_id]), 1 / len(scores[config_id])) for config_id in configs]
df_scores = pd.DataFrame.from_dict(dict(config_id=configs, score=mean_scores))
df_scores.sort_values("score", ascending=False).reset_index(drop=True)

             config_id     score
0      mkl2019.5_debug  1.253381
1  mkl2020.1_fakeintel  1.250750
2            mkl2020.0  1.240589
3      mkl2020.0_debug  1.214846
4            mkl2024.0  1.207232
5             openblas  1.022402

## Benchmark details

### Task 1: Dotted two 4096x4096 matrices

In [4]:
df_task = df[df["task_id"] == "dot4096"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
8   mkl2020.1_fakeintel  0.255833
28             openblas  0.250436
18      mkl2019.5_debug  0.238674
38      mkl2020.0_debug  0.237325
58            mkl2024.0  0.233674
48            mkl2020.0  0.232717

### Task 2: Dotted two vectors of length 524288

In [5]:
df_task = df[df["task_id"] == "dot524288"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
39      mkl2020.0_debug  0.000293
59            mkl2024.0  0.000281
29             openblas  0.000280
49            mkl2020.0  0.000274
19      mkl2019.5_debug  0.000273
9   mkl2020.1_fakeintel  0.000265

### Task 3: SVD of a 2048x1024 matrix

In [6]:
df_task = df[df["task_id"] == "svd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
25             openblas  0.818988
35      mkl2020.0_debug  0.470923
55            mkl2024.0  0.467315
45            mkl2020.0  0.466912
5   mkl2020.1_fakeintel  0.451951
15      mkl2019.5_debug  0.449664

### Task 4: Eigendecomposition of a 2048x2048 matrix

In [7]:
df_task = df[df["task_id"] == "evd"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
26             openblas  4.758956
56            mkl2024.0  3.852445
46            mkl2020.0  3.446245
36      mkl2020.0_debug  3.371684
16      mkl2019.5_debug  3.276509
6   mkl2020.1_fakeintel  3.247261

### Task 5: Convex programming (logistic regression)

In [8]:
df_task = df[df["task_id"] == "cvxprog"]
df_task[["config_id", "seconds"]].sort_values("seconds", ascending=False)

              config_id   seconds
37      mkl2020.0_debug  4.016744
17      mkl2019.5_debug  3.948451
47            mkl2020.0  3.887898
57            mkl2024.0  3.867309
7   mkl2020.1_fakeintel  3.852806
27             openblas  3.839549